<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are our animals: </h2>
<div *ngFor = "let currentAnimal of animalsArray">
  <app-snake *ngIf = "currentAnimal.type == 'snake' "[snakeInput] = "currentAnimal"
  (onPlaySoundEvent)="onCheckFromAnimals($event)"> </app-snake>
  <app-dog *ngIf = "currentAnimal.type == 'dog' " [dogInput] = "currentAnimal"
  (onPlaySoundEvent)="onCheckFromAnimals($event)"> </app-dog>
  <app-cat *ngIf = "currentAnimal.type == 'cat' " [catInput] = "currentAnimal"
  (onPlaySoundEvent)="onCheckFromAnimals($event)"></app-cat>
</div>


